<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <!--<filter class="com.serviceinfotech.services.microserviceexceptionhandler.loggers.SampleFilter" />-->

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Europe/London</timeZone>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <mdc/>
                <version/>
                <pattern >
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern>
                        {
                        "logger": "%logger",
                        "level": "%level",
                        "thread": "%thread",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>

            </providers>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>